/* @import url('https://fonts.googleapis.com/css?family=Oswald'); */
 :root {
	 --background: #000;
	 --text: rgb(228, 228, 228);
	 --text-highlight: rgb(255, 228, 228);
	 --highlight: #ff1e1e;
	 --navbar-height: 12vh;
	 --navbar-width: 250px;
	 --navbar-background: rgba(17, 17, 17, 0.98);
}
 nav {
	/* background-color: var(--navbar-background); */
	z-index: 2;
	/* max-height: var(--navbar-height);
	position: fixed;
	top: 0;
	width: 100%;
	
	
	display: flex; */
}
nav img {
	/* position: absolute; */
	object-fit: contain;
	display: flex;
	padding: 1em;
	flex: 0.5 1 auto;
	max-width:42px;
}

nav .links {
	width: 80%;
	display: flex;
	justify-content: center;
}

nav .links ul {
	list-style-type: none;
	/* justify-content: center; */
	margin: 0;
}

 .links ul {
	 display: flex;
	 list-style-type: none;
}
 .links ul a {
	 margin: 16px 30px;
	 position: relative;
	 color: var(--text);

	 text-transform: uppercase;
	 text-decoration: none;
}
 .links ul a:before {
	 position: absolute;
	 bottom: -2px;
	 content: '';
	 width: 100%;
	 height: 3px;
	 background: var(--highlight);
	 transform: translateX(-100%);
	 opacity: 0;
}
 .links ul a:hover:before {
	 opacity: 1;
	 transition: 0.5s transform ease, 0.8s opacity ease;
	 transform: translateX(0);
}

.links ul a:hover {
	color: var(--text-highlight);
}
 .links ul .active {
	 color: var(--highlight);
}
 .links ul .active:hover:before {
	 opacity: 0;
}
 
